{
    "env": {
        "es6": {
            "presets": [
                [
                    "latest",
                    {
                        "es2015": {
                            "modules": false
                        }
                    }
                ],
                "react",
                "stage-0"
            ],
            "plugins": [
                [
                    "css-modules-transform", {
                        "generateScopedName": "Cal__[name]__[local]",
                        "preprocessCss": "./babel.preprocess.sass.js",
                        "extensions": [".scss"]
                    }
                ]
            ]
        },
        "production": {
            "presets": ["es2015", "react", "stage-0", "stage-1", "stage-2"],
            "plugins": ["transform-object-assign"]
        },
        "testing": {
            "presets": ["es2015", "react", "stage-0", "stage-1", "stage-2"],
            "plugins": ["transform-object-assign"]
        }
    }
}
